@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
::root
{
    --Linear-gradient : hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

main 
{
    display: flex;
    height: 100vh;
    max-width: 1440px;
    font-family: 'Space Grotesk', sans-serif;
}


.left_site
{
    min-width: 34.2%;
    max-height: 900px;
}

.background
{
    position: absolute;
}


.front_of_the_card 
{
    position: relative;
    left: 10rem;
    top: 12rem;

}


.back_of_the_card
{
    position: relative;
    left: 15rem;
    top: 15rem;
}


.front_card p 
{
    position: absolute;
    color: white;
}

.logo
{
    position: absolute;
    top: 14rem;
    left: 12rem;
}

.number_on_card
{
    top: 21rem;
    left: 12.5rem;
    font-size: 2rem;
}

.name_on_card
{
    top: 25rem;
    left: 12.5rem;
    font-size: 1rem;
}

.date_on_card
{
    top: 25rem;
    left: 32rem;
    font-size: 1rem;
}

.cvc_on_card
{
    position: absolute;
    top: 37.5rem;
    left: 37.5rem;
    font-size: 1rem;
    color: white;
}

.right_site
{
    min-width: 65.8%;
    max-height: 900px;
    margin: 17% 0 0 24%;
}

.placeholder1
{
    font-size: 18px;
    width: 40.5%;
    height: 50px;
    border: solid 1px gray;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 20px;
    opacity: 0.2;
}

.placeholder2 
{
    width: 16%;
    margin-right: 5px;
}

.placeholder3
{
    width: 85.5%;
}

.date
{
    margin-right: -34%;
}
.grup
{
    display: flex;
    align-items: center;
}

.right_site p 
{
    font-size: 15px;
    padding: 26px 0 8px 0;
}

.card_cvc 
{
    display: block;
}


.confirm
{
    border: solid 1px;
    border-radius: 10px;
    background: hsl(278, 68%, 11%);
    color: white;
    width: 40.5%;
    height: 50px;
    margin-top: 38px;
    font-size: 18px;
}