@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
::root
{
    --Linear-gradient : hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

main
{
    display: grid;
    max-height: 900px;
    max-width: 1440px;
    font-family: 'Space Grotesk', sans-serif;
}


.left_site
{
    width: 33.4%;
    height: 900px;
}

.background
{
    position: absolute;
}


.front_of_the_card 
{
    position: relative;
    left: 10rem;
    top: 12rem;

}


.back_of_the_card
{
    position: relative;
    left: 15rem;
    top: 15rem;
}


.front_card p 
{
    position: absolute;
    color: white;
}

.logo
{
    position: absolute;
    top: 14rem;
    left: 12rem;
}


.system
{
    width: 100%;
    margin: 25% 0 0 35%;
}

.number_on_card
{
    top: 21rem;
    left: 12.5rem;
    font-size: 2rem;
}

.name_on_card
{
    top: 25rem;
    left: 12.5rem;
    font-size: 1rem;
}

.date_on_card
{
    top: 25rem;
    left: 32rem;
    font-size: 1rem;
}

.cvc_on_card
{
    position: absolute;
    top: 37.5rem;
    left: 37.5rem;
    font-size: 1rem;
    color: white;
}

.right_site
{
    position: absolute;
    width: 65.5%;
    height: 900px;
    left: 33.3%;
}

.placeholder1
{
    font-size: 18px;
    width: 40.5%;
    height: 50px;
    border: solid 1px gray;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 15px;
    opacity: 0.2;
}

.placeholder2 
{
    width: 30%;
    margin-right: 5px;
}

.placeholder3
{
    width: 85.5%;
    margin-left: 3%;
}

.date
{
    width: 21%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.right_site p 
{
    font-size: 15px;
    padding: 26px 0 8px 0;
}

.three_input
{
    display: flex;
    max-width: 40.5%;
}

.card_cvc 
{
    display: block;
}


.confirm
{
    border: solid 1px;
    border-radius: 10px;
    background: hsl(278, 68%, 11%);
    color: white;
    width: 40.5%;
    height: 50px;
    margin-top: 38px;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 2px;
}

.errors
{
    display: flex;
    justify-content: space-between;
    width: 31%;
    color: white
}

.cvc_error
{
    margin-left: 10px;
}


.border_red
{
    border: 3px solid red;
}

.error_text_red
{
    color: red;
    margin-top: 1%;
}


.complete_state
{
    position: absolute;
    width: 65.5%;
    height: 900px;
    left: 32.5%;
}

.position
{
    position: fixed;
    left: 60%;
    top: 28%;  
}

.continue 
{
    color: white;
    border: 1px;
    background: hsl(278, 68%, 11%);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 16px;
}

.info_complete
{
    padding: 0px 50px;
    opacity: 0.3;
}

.logo_complete
{
    padding-left: 130px;
}

h1
{
    padding: 30px 90px 10px 90px;
    letter-spacing: 4px;
}