:root {
    --color-main: #fff;
    --color-text: hsl(229, 25%, 31%);
    --color-score: hsl(229, 64%, 46%);
    --color-border: hsl(217, 16%, 45%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    min-height: 100vh;
    min-width: 100vw;
}

header {
    
}

hi span {
    display: block;
}