:root {
    --color-1: hsl(0, 0%, 100%), hsl(0, 100%, 98%);
    --color-2: hsl(0, 18%, 74%);
    --color-3: hsl(0, 6%, 24%);
    --color-4: hsl(0, 32%, 40%);
    --color-5: hsl(0, 63%, 48%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {  
    background-color: var(--color-3);
    margin: 5%;
}

main {
    display: flex;
    max-width: 1440px;
    max-height: 800px;  

}

.left--site {
    background: linear-gradient(var(--color-1));
    width: 65%;
    height: auto;
    padding: 4% 10%;

}


.logo {
    width: 32%;
}

.info {
    font-size: 70px;
    padding-top: 25%;
}

.line1 {
    display: block;
    color: var(--color-4);
}
.line2 {
    display: block;
    padding-right: 10%;
}
.line3 {
    padding-bottom: 5%;

}

.text {
    display: block;
    font-size: 16px;
    padding-right: 18%;
    line-height: 25px;
    color: var(--color-2);
}

.message {
    font-size: 15px;
    color: var(--color-4);
    padding-bottom: 40px;
}


.email--space {
    font-size: 16px;
    padding-left: 5%;
    color: var(--color-4);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 60px;
    border: solid;
    border-radius: 35px;
    color: var(--color-5);
    /* background-color: var(--color-5); */
    background: linear-gradient(90deg,#772e2e, #830101);
    /* background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); */
}

.right--site {
    aspect-ratio: 610 / 800;
    width: 45%;
    height: auto;
}

.email--address {
    width: 80%;
    height: 60px;
    border: solid 1px;
    border-radius: 35px;
    border-color: var(--color-2);
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
