* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 10px 0 0 10px;
    font-size: 15px;
    filter: blur(1px);
}

img {
    width: 30%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    font-size: 60px;
    padding-bottom: 15%;
    padding-top: 15%;
}

span,
button {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

div {
    height: 700px;
}

button {
    width: 70%;
    height: 10%;
    border: 0;
    border-radius: 50px;
}

button span {
    font-size: 22px;
}



.position {
    margin: 15%;
}

.text {
    display: block;
    font-size: 23px;
    line-height: 36px;
}

.text1 {
    max-width: 95%;
    padding-bottom: 85px;
}

.text2 {
    max-width: 95%;
    padding-bottom: 74px;
}

.text3 {
    max-width: 98%;
    padding-bottom: 78px;
}

.pillar1 {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pillar2 {
    background-color: hsl(184, 100%, 22%);
}

.pillar3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button1 span{
    background-color: hsl(31, 77%, 52%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.button2 span{
    background-color: hsl(184, 100%, 22%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.button3 span{
    background-color: hsl(179, 100%, 13%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
