@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap'); 
:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    background: var(--Cream);
    min-height: 100vh;
    max-width: 400px;
    margin: 3rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 1rem;
    background: var(--Soft-red);
    padding: 1rem 1.5rem;
    margin-bottom: 20px;

}

.my_balance {
    color: #fff;
    font-size: 12px;
}

.many {
    display: block;
    font-size: 24px;
    padding-top: 6px;
}



.logo {
    width: 18%;
    padding-right: 10px;;
}


main {
    background: #fff;
    border: none;
    border-radius: .5rem;
    padding: 1.5rem;
}

.info {
    font-size: 24px;
    font-weight: bold;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 5px;
}

.chart {
    width: 40px;
    border: none;
    border-radius: .3rem;
    background-color: var(--Soft-red);
}
.column {
    text-align-last: center;
}

.value {
    width: 40px;
    height: 20px;
    border: none;
    border-radius: .3rem;
    background-color: black;
    color: #fff;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 10px;
}
.day {
    font-size: 12px;
    margin-top: 5px;
}

.wednesday .chart {
    background-color: var(--Cyan);
}


.line {
    height: 1px;
    width: 100%;
    background-color: var(--Medium-brown);
    opacity: 0.1;
    margin: 20px 0px;
}

.this_month {
    font-size: 13px;
    margin-bottom: 10px;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_money {
    font-size: 35px;
    font-weight: bold;
}

.last_month {
    display: grid;
    font-size: 14px;
}

.percent {
    padding-left: 60%;
}


.chart:hover {
    opacity: .5;
}

.monday .chart {
    height: 35.90px;
    cursor: pointer;
}

.tuesday .chart {
    height: 69.8px;
    cursor: pointer;
}

.wednesday .chart {
    height: 104.7px;
    cursor: pointer;
}

.thursday .chart {
    height: 62.1px;
    cursor: pointer;
}

.friday .chart {
    height: 46.8px;
    cursor: pointer;
}

.saturday .chart {
    height: 86.6px;
    cursor: pointer;
}

.sunday .chart {
    height: 51px;
    cursor: pointer;
}
