* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Outfit', sans-serif;
}

header {
    width: 50%;
    height: 1200px;
    border: solid 2px;
    border-radius: 5%;
    max-width: 700px;
    padding: 45px 45px;
    background-color: hsl(216, 50%, 16%);
    margin: auto;
    margin-top: 20%;
}

.foto {
    position: relative;
    width: 100%;
    border-radius: 3%;
}
.container1 {
    position: relative;
    width: 100%;
}
.container3 {
    position: absolute;
    width: 20%;
    left: 40%;
    bottom: 40%;
    opacity: 0;
    
}

.container2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
    background-color: hsl(178, 100%, 50%);
    opacity: 0;
    border-radius: 3%
}

.text {
    font-size: 40px;
    padding: 40px 0;
}

.text,
.user {
    color: white;
}

.message {
    font-size: 35px;
}

.message,
.timer,
.creation {
    color: hsl(215, 36%, 42%);
}

.amound {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding: 50px 0;
}

.eth img {
    width: 20px;
}

.timer img {
    width: 35px;
}

.eth {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
}

.timer {
    display: flex;
    align-items: center;
}

.amound--eth,
.amound--days {
    padding-left: 10px;
}


.line {
    height: 1px;
    background: hsl(215, 32%, 27%);
}
.avatar {
    padding-top: 50px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
}
.all {
    display: flex;
    align-items: center;
    justify-content: start;
}

.creation {
    padding-left: 35px;
    padding-right: 10px;
}

.text:hover {
    color: hsl(178, 100%, 50%);
}

.user:hover {
    color: hsl(178, 100%, 50%);
}

.foto:hover .container2 {
    opacity: 0.5;
}

.foto:hover .container3 {
    opacity: 1;
}
