@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root 
{
    --Blue: hsl(246, 80%, 60%);
    --Light-orange: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


main
{
    display: flex;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    margin-top: 1rem;
    background: var(--Very-dark-blue);
}
samp
{
    font-size: 1.5rem;
    color: var(--Pale-Blue);
    opacity: 0.5;
}

h3
{
    display:table-caption;
    font-size: 4rem;
    font-weight: 100;
    color: white;
}

h2
{
    font-size: 6rem;
    font-weight: 50;
    color: white;
    margin-top: 2.5rem;
}

button
{    
    padding-bottom: 20px;
    color: var(--Desaturated-blue);
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding-bottom: 30px;
}
.p
{
    color: white;
    font-size: 2rem;
}
.conteners
{
    width: 23.5rem;
}

.conteners2
{
    width: 23.5rem;
}
.contener
{
    height: 22.5rem;
    min-width: 375px;
    border: none;
    border-radius: 2.2rem;
    margin-left: 3rem;
}

.top
{
    display: flex;
}

.logos
{
    margin-top: -0.5rem;
    width: 7rem;
    margin-left: 15rem;
    position: unset;
}


.bottom 
{
    display: flex;
    margin-top: 3rem;
}
.space1
{
    height: 48rem;
    background-color: var(--Dark-blue);
    border: none;
    border-radius: 2rem;
}
.space
{
    width: 23.5rem;
    height: 19rem;
    background-color: var(--Dark-blue);
    border: none;
    border-radius: 2rem;
    padding: 3rem;
    position: absolute;
    margin-top: -3.2rem;
    cursor: pointer;
}

.space:hover{
    background-color: hsl(237, 29%, 43%);
}


.border_top
{
    width: 23.5rem;
    border-top: solid .5rem var(--Very-dark-blue);
    position: absolute;
    margin-top: -0.5rem;
}
#borderWork
{
    left: 20.5%;
}
#borderPlay
{
    left: 41.5%;
}
#borderStudy
{
    left: 62%;
}

.border_bottom
{
    width: 22.5rem;
    border-top: solid 2rem var(--Very-dark-blue);
    position: absolute;
    margin-top: 1rem;
}
#borderExercise
{
    left: 21%;
}
#borderSocial
{
    left: 42%;
}
#borderSelfCarre
{
    left: 62.5%;
}

#contUser
{
    height: 32rem;
    background-color:var(--Blue);
    border: none;
    border-radius: 2rem;
    padding: 3rem;
}
#exercise
{
    margin-top: -1.2rem;
}

#social
{
    margin-top: -4.6rem;
}

#selfCare
{
    margin-top: -1.7rem;
}


.logo
{
    display: block;
    width: 40%;
    border: solid 5px white;
    border-radius: 50%;
    margin-bottom: 18%;
}
#logo_social
{
    margin-top: -1.5rem;
}
#logo_hart
{
    margin-top: -2rem;
    width: 30%;
}
#logo_exercise
{
    margin-top: -0.2rem;
}


#daily
{
    margin-top: 11rem;
}


.button:hover
{
    color: white;
}

.dots:hover
{
    width: 28px;
    color: aliceblue;
}


.firstLine
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots
{
    cursor: pointer;
}

#contWork
{
    background-color:var(--Light-orange);
}

#contPlay
{
    background-color:var(--Soft-blue);
}

#contStudy
{
    background-color:var(--Light-red);
}

#contSelfCare
{
    background-color:var(--Soft-orange);
}

#contSocial
{
    background-color:var(--Violet);
}
#contExercise
{
    background-color:var(--Lime-green);
}

@media screen and (max-width: 1820px) {
    main,
    .top,
    .bottom 
    {
        flex-direction: column;
        align-items: center;
    }
    .conteners
    {
        width: 45rem;
        height: 22rem;
        margin-bottom: 6rem;
    }
    .contener
    {
        width: 45rem;
        margin-left: 0; 
        margin-top: 3rem;
    }
    .space
    {
        height: 17rem;
        width: 45rem;
    }
    .space1
    {
        height: 28rem;
        margin-bottom: 3rem;
    }
    .bottom
    {
        margin-top: 0;
    }
    .logos
    {
        width: 9rem;
        margin-left: 34rem;
    }
    .logo
    {
        width: 25%;
        margin-top: 10px;
    }
    .user
    {
        display: -webkit-box;
    }
    .raport
    {
        display: table-caption;
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 2rem;
    }
    .user_name
    {
        display: table-cell;
        font-size: 3rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
    }
    .button
    {
        display: inline;
        font-size: 2.6rem;
    }
    .p
    {
        font-size: 3rem;
    }
    .dots
    {
        width: 3rem;
    }
    .dots:hover
    {
        width: 4rem;
    }
    .center
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .time
    {
        font-size: 5rem;
        margin-top: 0;
        display: inline;
    }
    .previous
    {
        font-size: 2.2rem;
    }
    #daily
    {
        margin-right: 7rem;
        margin-top: 0;
    }
    #weekly
    {
        margin-right: 7rem;
    }
    #contUser
    {
        height: 17rem;
    }
    #exercise 
    {
        margin-top: -0.6rem;
    }
    #social 
    {
        margin-top: -5.2rem;
    }
    #logo_hart 
    {
        width: 22%;
    }
    #selfCare {
        margin-top: -2.6rem;
    }
    .border_top
    {
        width: 45rem;
        border-top: solid 1rem;
    }
    #borderWork
    {
        top: 34.9%;
        left: 20%;
    }
    #borderPlay
    {
        top: 63.2%;
        left: 20%;
    }
    #borderStudy
    {
        top: 91.5%;
        left: 20%;
    }
    .border_bottom
    {
        width: 45rem;
    }
    #borderExercise
    {
        left: 20%;
    }
    #borderSocial
    {
        top: 145.2%;
        left: 20%;
    }
    #borderSelfCarre
    {
        top: 173.5%;
        left: 20%;
    }
}